/* BASIC HTML */
html {
    font-family: sans-serif;
    padding: 0px 22px 0px 22px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url("background.jpg");
	font:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif
}

body {
    background-color: whitesmoke;
    margin-top: 0%;
    padding-top: 0%;
}


/* HEADER */
header {
    background-image: url("header.jpg");
    width: auto;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}

#op {
    opacity: 1.0;
    color: white;
}
h1 {
    font-family: H1;
    font-size: 5rem;
    letter-spacing: 0.1em;
    color: white;
    text-shadow: 2px 2px 8px black;
    text-align: center;
}

.centerH1 {
    padding: 70px 0;
    text-align: center;
  }

  h2 {
    font-family: H1;
    font-size: 3rem;
    color: olivedrab;
    text-align: center;
    letter-spacing: 0.1em;
}
  


/* fonts */
@font-face {
    font-family: H1;
    src: url(charmelade-demo.regular.otf)
}


/* NAV */
.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-top: 6px solid olivedrab;
    align-items: center;
}


.li {
    list-style: none;
    text-align: center;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
}

a, link {
    text-decoration: none;
    color: olivedrab;
    font-weight: bolder;
}

a:visited {
    color: #866538;
}

a:hover {
    color:orangered;
}

a:active {
    color: whitesmoke;
}


/* GRID-SECTION */

.grid-container {
    padding-top: 30px;
    display: grid;
    grid-gap: 50px;
    place-content: center;
    padding-bottom: 15px;
  }

.item1 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .item2 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: H1;
    font-size: 4rem;
    color: olivedrab;
    text-align: center;
    align-content: center;
  }

.p2 {
    border-top: 5px solid olivedrab;
    border-bottom: 5px solid olivedrab;
    padding-top: 20px;
}

.item3 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  h4 {
      color: olivedrab;
      font-family: H1;
      letter-spacing: 0.1em;
      text-align: center;
      font-size: 2.5rem;
      margin: 0;
      padding: 70px 0px 20px 0px;
      text-transform: uppercase;
  }

  .indent {
      margin-left: 5px;
      margin-right: 5px;
      text-align: center;
      padding-left: 170px;
      padding-right: 170px;
  }

  /* ARTICLE */
  article {
    margin-bottom: 100px;
}

  h3 {
    color: olivedrab;
    letter-spacing: 0.2;
    font-weight: bolder;
    font-size: 1.8em;
    text-align: center;
}

ol li {list-style-position: inside}

.center{
    width:200px;
    margin:0 auto;
    text-align:left;
}

.grid-container2 {
    display: grid;
    grid-gap: 100px;
    place-content: center;
  }

  .item4 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item5 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 5;
  }
